apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: postgres-cluster

helmCharts:
- name: postgrescluster
  repo: https://thecodingsheikh.github.io/helm-charts
  version: 5.7.4
  valuesFile: values.yaml
  namespace: postgres-cluster
